body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa; 
}


.navbar-brand {
    font-size: 1.5rem;
    font-weight: 700;
    color: #343a40 !important; 
}


.carousel-item img {
    height: 450px; 
    object-fit: cover;
    border-radius: 8px;
}


.categoria-card {
    transition: transform 0.3s ease-in-out;
    border: none; 
}

.categoria-card:hover {
    transform: translateY(-5px); 
    box-shadow: 0 10px 20px rgba(0,0,0,0.1) !important;
}

.categoria-card img {
    height: 250px;
    object-fit: cover;
    border-bottom: 1px solid #eee;
}

.card-title {
    color: #007bff; 
}


footer a {
    text-decoration: none;
}

footer a:hover {
    color: #ffffff !important;
}